<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209325857070-qpkm7fikfrbokd7seh99fuatgf9p7hsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209325857070-qpkm7fikfrbokd7seh99fuatgf9p7hsp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209325857070-a2edpl3r9smfvj2kd9s8qb6livi05t66.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCud3x_RDAjeZD4JUuYbez_-QRoPxHoF4k</string>
	<key>GCM_SENDER_ID</key>
	<string>209325857070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easycut.easycut</string>
	<key>PROJECT_ID</key>
	<string>easycut-f6b7f</string>
	<key>STORAGE_BUCKET</key>
	<string>easycut-f6b7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209325857070:ios:c71045e48cc0ce018402bf</string>
</dict>
</plist>